.viagem {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;

}

.viagem-certa i {
    color: blue;

}

.div-passagem h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: yellow;

}

.div-consultar ul {

    display: flex;
    gap: 10px;
    list-style: none;
    color: yellow;
}

.div-consultar a {
    color: yellow;
    text-decoration: none;
}

.div-passagem ul li a {
    text-decoration: none;
    /*remove o sublinhado*/
    color: yellow;
    /*cor da lrtra*/

}

.img-header-01 {
    width: 250px;
}

.section-01 {
    color: #7a1745;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.img-section-01 {
    display: flex;
    width: 30%;
}

.section-02 {
    background-color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.div-agencia {
    color: yellow;
    font-size: 40px;
    margin-left: 40px;
}

.div-estação {
    color: rgb(255, 255, 255);
    font-size: 30px;

}

.section-03 {
    padding: 250px;
    background-image: url(agencia.imagem/bus-2546383_1280.jpg);
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-03 button {
    background-color: #f9d423;
    width: 180px;
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.445);
    ;

}

.section-03 button:hover {
    background-color: yellow;
    transition: 0.8s;
    box-shadow: 5px 5px 10px;
}

.div-section-04 {
    padding: 100px;
    /*altura das 3 caixas*/
    background-color: rgb(95, 95, 130);
    /*cor de fundo para as caixas*/
   display: flex;
   align-items: center;
   height: 400px;
   justify-content: space-evenly;
   gap: 50px;
   
}

.div-compra {
     width: 600px;
    height: 400px;
    background-color: rgb(58, 36, 8);

}

.div-livre img {
    width: 100px;
}

.div-star {
    width: 500px;
    height: 600px;
    background-color: rgb(58, 36, 8);
}

.div-loco{
    width:450px; /*largura da img*/
    height:500px ; /*altura da img*/
    background-color: rgb(58, 36, 8);
    
}

.div-loco1{
    width:400px; /*largura da img*/
    height:400px ; /*altura da img*/
    background-color: rgb(58, 36, 8);
    

}

footer {
    display:flex;
    align-items: center;
    justify-content: center;
}